<!DOCTYPE html>

<html>

<head>

    <meta charset="UTF-8">

</head>

<body>

    <h2>Password Reset Request</h2>

    <p>Hello,</p>

    <p>

        We received a request to reset your password.

    </p>

    <p>

        Click the button below.

    </p>

    <p>

        <a
            href="{{ reset_link }}"
            style="
                background:#0d6efd;
                color:white;
                padding:12px 20px;
                text-decoration:none;
                border-radius:5px;
            ">

            Reset Password

        </a>

    </p>

    <p>

        If you didn't request this,
        simply ignore this email.

    </p>

    <br>

    <p>

        Regards,

    </p>

    <p>

        Student Management Team

    </p>

</body>

</html>